<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.thinkingdata.android.demo">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ClickTestActivity"
            android:label="@string/title_activity_click_test"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_webview"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 打开调试日志 -->
        <meta-data
            android:name="cn.thinkingdata.android.EnableTrackLogging"
            android:value="true" />

        <!-- 设置数据库大小下限(默认 32 M) -->
        <meta-data
            android:name="cn.thinkingdata.android.MinimumDatabaseLimit"
            android:value="16" />

        <!-- 设置缓存数据保留天数(默认 15 天) -->
        <meta-data
            android:name="cn.thinkingdata.android.RetentionDays"
            android:value="7" />

        <!-- 允许安全退出服务(默认为 true) -->
        <meta-data
            android:name="cn.thinkingdata.android.EnableQuitSafely"
            android:value="false" />

        <!-- 开启安全退出服务时，等待每个线程（缓存, 网络）退出超时时长，默认 2000 ms -->
        <meta-data
            android:name="cn.thinkingdata.android.QuitSafelyTimeout"
            android:value="1000" />

        <activity
            android:name=".DisplayActivity"
            android:label="@string/title_activity_display"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>