<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.thinkingdata.android">

    <!--
    This permission is required to allow the application to send events and properties to ThinkingData.
   -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
      This permission is optional but recommended so we can be smart about when to send data.
     -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-data
            android:name="cn.thinkingdata.android.MainProcessName"
            android:value="${applicationId}" />
        <service
            android:name="cn.thinkingdata.android.TDQuitSafelyService$TDKeepAliveService"
            android:stopWithTask="false"
            android:exported="false" />

    </application>

</manifest>
