<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.thinkingdata.android">

    <!--     This permission is required to allow the application to send events and properties to ThinkingData. -->
    <queries>
        <intent >
            <action android:name="cn.thinkingdata.android.TAToolClient" />
        </intent>
    </queries>
    <application>
        <receiver
            android:name=".TDReceiver"
            android:enabled="false"
            android:exported="false"></receiver>

        <service
            android:name=".TAToolServiceServer"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.thinkingdata.android.TAToolServer" />
            </intent-filter>
        </service>
    </application>
    <!--       This permission is optional but recommended so we can be smart about when to send data. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>